<nav data-component="mainMenu" class="main-menu">
    <ul class="main-menu__list">
        <li class="main-menu__item">
            <a href="/foo" class="main-menu__link">Foo</a>
        </li>
        <li class="main-menu__item">
            <a href="/bar" class="main-menu__link">Bar</a>
        </li>
        <li class="main-menu__item">
            <a href="/lorem" class="main-menu__link">Lorem</a>
        </li>
        <li class="main-menu__item">
            <a href="/ipsum" class="main-menu__link">Ipsum</a>
        </li>
    </ul>
</nav>