@mixin link {
    color: inherit;
    text-decoration-thickness: 0.11em;

    &:hover {
        text-decoration-color: var(--accent);
    }
}

@mixin inlineLink {
    color: var(--fg-grey);

    &:hover {
        color: inherit;
    }
}

* {
    line-height: 1.5em;
}

a[href] {
    @include link();

    article li &,
    p &,
    cite & {
        @include inlineLink();
    }
}

h1, h2, h3, h4, h5, h6 {
    a[id] {
        &::after {
            content: "#";
            margin-left: 0.4ch;
            color: var(--bg-grey);
        }
    }
}

h1 {
    font-size: 2em;

    &:first-of-type {
        margin-top: 0;
    }
}