@mixin link {
    color: inherit;
    text-decoration-thickness: 0.11em;

    &:hover {
        text-decoration-color: var(--accent);
    }
}

@mixin inlineLink {
    color: var(--accent);

    &:hover {
        text-decoration-color: var(--font);
    }
}

a {
    @include link();

    p &,
    cite & {
        @include inlineLink();
    }
}

h1 {
    font-size: 2em;

    &:first-of-type {
        margin-top: 0;
    }
}

blockquote {
    position: relative;
    margin-block-start: var(--spacing-y);
    margin-block-end: var(--spacing-y);
    margin-inline-start: var(--spacing-x);
    margin-inline-end: var(--spacing-x);

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: calc(var(--spacing-x) * -1);
        width: 1px;
        height: 100%;
        border-left: var(--line-width) dashed var(--bg-grey);
    }

    > footer {
        margin-top: calc(var(--spacing-y) / 2);
    }
}