<article>
    <header>
        <h1>Hi ✌️</h1>
    </header>
    <p>This is a collection of some components that I use from time to time.<br>
    Beware this is a work in progress. It will propably be forever, but right now I haven't even finished writing this document.<br>
    <a href="https://gitlab.com/iamschulz/basics">Here's</a> the repo.</p>
    <h2><a id="whatsin">What's in?</a></h2>
    <ul>
        <li><a href="#eventbus">Event Bus</a></li>
        <li><a href="#statemachine">State Machine</a></li>
        <li>
            <a href="#componentloader">Component Loader</a>
            <ul>
                <li><a href="#breakpoint">Breakpoint Manager</a></li>
                <li><a href="#themeswitch">Theme Switch</a></li>
                <li><a href="#overlay">Overlay</a></li>
                <li><a href="#mainmenu">Offcanvas Menu</a></li>
                <li><s><a href="#modal">Modal</a></s></li>
                <li><a href="#carousel">Carousel</a></li>
                <li><s><a href="#code">Code Section</a></s></li>
                <li><a href="#devpostteaser">Article Teaser for DEV.to</a></li>
                <li><a href="#worker">Prototype for Multithreaded Component</a></li>
            </ul>
        </li>
        <li><a href="#styles">A CSS theme</a></li>
    </ul>

    <hr>

    <h2><a id="howtoinstall">How to install?</a></h2>
    <p>Coming soon.</p>

    <hr>

    <h2><a id="designprinciples">Design Principles</a></h2>
    <p>These components are built with <a href="https://en.wikipedia.org/wiki/Progressive_enhancement">Progressive Enhancement</a>, <a href="https://en.wikipedia.org/wiki/Separation_of_concerns#HTML,_CSS,_JavaScript">Separation of Concerns</a> and <a href="https://www.w3.org/WAI/standards-guidelines/wcag/">Accessibility</a> in mind.</p>

    <blockquote>
        Progressive enhancement is a strategy for web design that emphasizes core webpage content first. This strategy then progressively adds more nuanced and technically rigorous layers of presentation and features on top of the content as the end-user's browser/internet connection allow. The proposed benefits of this strategy are that it allows everyone to access the basic content and functionality of a web page, using any browser or Internet connection, while also providing an enhanced version of the page to those with more advanced browser software or greater bandwidth.
        <footer><cite>Read more on <a href="https://en.wikipedia.org/wiki/Progressive_enhancement">Wikipedia</a></cite></footer>
    </blockquote>

    <blockquote>
        HyperText Markup Language (HTML), Cascading Style Sheets (CSS), and JavaScript (JS) are complementary languages used in the development of web pages and websites. HTML is mainly used for organization of webpage content, CSS is used for definition of content presentation style, and JS defines how the content interacts and behaves with the user. Historically, this was not the case: prior to the introduction of CSS, HTML performed both duties of defining semantics and style.
        <footer><cite>Read more on <a href="https://en.wikipedia.org/wiki/Separation_of_concerns#HTML,_CSS,_JavaScript">Wikipedia</a></cite></footer>
    </blockquote>

    I'm trying to achieve:
    <ul>
        <li>clean, semantic HTML</li>
        <li>a usable site without CSS or JS</li>
        <li>a usable site on assistive technologies like screen readers and text browsers</li>
        <li>a fast loading and slim site</li>
        <li>no shipped node depedencies</li>
        <li>independent components</li>
        <li>a good balance between a platform to build upon and components to use on themselves</li>
    </ul>

    <hr>

    <h2><a id="examples">Examples</a></h2>

    <h3><a id="devpostteaser">Article Teaser for DEV.to</a></h3>
    <p>Fetch and display an article teaser to a post on <a href="https://dev.to">DEV.to</a></p>
    ${require('../devPostTeaser/devPostTeaser.html')}

    <hr>

    <h3><a id="worker">Prototype for Multithreaded Component</a></h3>
    <p>This component performs a costly operation to count up to a certain number, but is deferred to a webworker. I try to keep this prototype as simple as possible in order to asbtract it later.</p>
    ${require('../heavyCalculation/heavyCalculation.html')}

    <hr>

    <h3><a id="carousel">Carousel</a></h3>
    <p>A simple carousel and lighweight carousel featuring pointer and touch support and progressively enhanced funcionality. Future iterations of this will include buttons, a center mode and an accessibility audit.</p>
    ${require('../carousel/carousel.html')}
</article>