<article>
    <header>
        <h1>Hi ✌️</h1>
    </header>
    <p>This is a collection of some components that I use from time to time. You can use those components on their own, but when you put it all together, you almost have something lightweight framework-y and fun.<br>
    Beware this is a work in progress. It will propably be forever, but right now I haven't even finished writing this document. I'm currently working on more detailed descriptions of everything. Please be patient :)<br>
    <a href="https://github.com/iamschulz/basics">Here's</a> the repo.</p>
    <h2><a id="whatsin">What's in?</a></h2>
    <ul>
        <li><a href="#eventbus">Event Bus</a></li>
        <li><a href="#statemachine">State Machine</a></li>
        <li>
            <a href="#componentloader">Component Loader</a>
            <ul>
                <li><a href="#breakpoint">Breakpoint Manager</a></li>
                <li><a href="#themeswitch">Theme Switch</a></li>
                <li><a href="#overlay">Overlay</a></li>
                <li><a href="#mainmenu">Offcanvas Menu</a></li>
                <li><s><a href="#modal">Modal</a></s></li>
                <li><a href="#carousel">Carousel</a></li>
                <li><s><a href="#code">Code Section</a></s></li>
                <li><a href="#devpostteaser">Article Teaser for DEV.to</a></li>
                <li><a href="#worker">Prototype for Multithreaded Component</a></li>
            </ul>
        </li>
        <li><a href="#styles">A CSS theme</a></li>
    </ul>

    <hr>

    <h2><a id="howtoinstall">How to install?</a></h2>
    <p>Clone the repo and work from there. NPM stuff is coming soon.</p>

    <hr>

    <h2><a id="designprinciples">Design Principles</a></h2>
    <p>These components are built with <a href="https://en.wikipedia.org/wiki/Progressive_enhancement">Progressive Enhancement</a>, <a href="https://en.wikipedia.org/wiki/Separation_of_concerns#HTML,_CSS,_JavaScript">Separation of Concerns</a> and <a href="https://www.w3.org/WAI/standards-guidelines/wcag/">Accessibility</a> in mind.</p>
    <a href="https://dev.to/iamschulz/in-defense-of-the-separation-of-concerns-24m0">Here's</a> why I'm choosing this approach.

    <blockquote>
        Progressive enhancement is a strategy for web design that emphasizes core webpage content first. This strategy then progressively adds more nuanced and technically rigorous layers of presentation and features on top of the content as the end-user's browser/internet connection allow. The proposed benefits of this strategy are that it allows everyone to access the basic content and functionality of a web page, using any browser or Internet connection, while also providing an enhanced version of the page to those with more advanced browser software or greater bandwidth.
        <footer><cite>Read more on <a href="https://en.wikipedia.org/wiki/Progressive_enhancement">Wikipedia</a></cite></footer>
    </blockquote>

    <blockquote>
        HyperText Markup Language (HTML), Cascading Style Sheets (CSS), and JavaScript (JS) are complementary languages used in the development of web pages and websites. HTML is mainly used for organization of webpage content, CSS is used for definition of content presentation style, and JS defines how the content interacts and behaves with the user. Historically, this was not the case: prior to the introduction of CSS, HTML performed both duties of defining semantics and style.
        <footer><cite>Read more on <a href="https://en.wikipedia.org/wiki/Separation_of_concerns#HTML,_CSS,_JavaScript">Wikipedia</a></cite></footer>
    </blockquote>

    I'm trying to achieve:
    <ul>
        <li>clean, semantic HTML</li>
        <li>a usable site without CSS or JS</li>
        <li>a usable site on assistive technologies like screen readers and text browsers</li>
        <li>a fast loading and slim site</li>
        <li>no shipped node depedencies</li>
        <li>independent components</li>
        <li>a good balance between a platform to build upon and components to use on themselves</li>
    </ul>

    <hr>

    <h2><a id="examples">Examples</a></h2>

    <h3><a id="eventbus">Event Bus</a></h3>
    <p>This site lets its components communicate with each other via an <a href="https://en.wikipedia.org/wiki/Publish%E2%80%93subscribe_pattern">event bus</a>.</p>
    <p>I'm currently working on a more detailed description and a manual. Until that's done, you might have to dig through my code on how to use it. I suggest starting <a href="https://github.com/iamschulz/basics/blob/master/src/helpers/eventBus.js">here</a> or <a href="https://github.com/iamschulz/basics/blob/master/src/components/mainMenu/mainMenu.js">here</a>.</p>

    <hr>

    <h3><a id="statemachine">State Machine</a></h3>
    <p>A <a href="https://en.wikipedia.org/wiki/Finite-state_machine">state machine</a> is used to process predefined states. You can bind methods and styles to states.</p>
    <p>I'm currently working on a more detailed description and a manual. Until that's done, you might have to dig through my code on how to use it. I suggest starting <a href="https://github.com/iamschulz/basics/blob/master/src/helpers/stateMachine.js">here</a>.</p>

    <hr>

    <h3><a id="componentloader">Component Loader</a></h3>
    <p>A component loader proides some basic funtionality and bootstrapping for components, making it easier to set up.</p>
    <p>My components are basically just html files with optional css- and js-files. You first write the markup, and then build styles and javascript upon that.</p>
    <p>I'm currently working on a more detailed description and a manual. Until that's done, you might have to dig through my code on how to use it. I suggest starting <a href="https://github.com/iamschulz/basics/blob/master/src/helpers/componentLoader.js">here</a>.</p>

    <hr>

    <h3><a id="mainmenu">Main Menu</a></h3>
    <p>It's this site's main menu. On smaller viewports it's a drawer, on larger viewports it's a big ol' menu. I try to keep at as accessible as possible and working without javascript.</p>
    <p><a href="https://github.com/iamschulz/basics/tree/master/src/components/mainMenu">Here's</a> the component.</p>

    <hr>

    <h3><a id="devpostteaser">Article Teaser for DEV.to</a></h3>
    <p>Fetch and display an article teaser to a post on <a href="https://dev.to">DEV.to</a></p>
    ${require('../devPostTeaser/devPostTeaser.html')}
    <p><a href="https://github.com/iamschulz/basics/tree/master/src/components/devPostTeaser">Here's</a> the component.</p>

    <hr>

    <h3><a id="worker">Prototype for Multithreaded Component</a></h3>
    <p>This component performs a costly operation to count up to a certain number, but is deferred to a webworker. I try to keep this prototype as simple as possible in order to asbtract it later.</p>
    ${require('../heavyCalculation/heavyCalculation.html')}
    <p><a href="https://github.com/iamschulz/basics/tree/master/src/components/heavyCalculation">Here's</a> the component.</p>

    <hr>

    <h3><a id="carousel">Carousel</a></h3>
    <p>A simple carousel and lighweight carousel featuring pointer and touch support and progressively enhanced funcionality. Future iterations of this will include buttons, a center mode and an accessibility audit.</p>
    ${require('../carousel/carousel.html')}
    <p><a href="https://github.com/iamschulz/basics/tree/master/src/components/carousel">Here's</a> the component.</p>

    <h3><a id="modal"></a></h3>
    <p>A Modal</p>
    ${require('../modalTrigger/modalTrigger.html')}
    <p><a href="https://github.com/iamschulz/basics/tree/master/src/components/modal">Here's</a> the component.</p>
</article>