<nav class="share-links">
    <a 
        class="share-links__link" 
        href="http://www.twitter.com/share?url=https%3A%2F%2Fiamschulz.github.io%2Fbasics%2F"
    >
        Twitter
    </a>
    <a 
        class="share-links__link" 
        href="https://dev.to/new?prefill=---\n title: Basics\n published: false\n tags: \n ---\n \n \n \n [Basics](https://iamschulz.github.io/basics/) (via @iamschulz) \n"
    >
        DEV
    </a>
    <a 
        class="share-links__link" 
        href="https://www.linkedin.com/share-links/share-offsite/?url=https%3A%2F%2Fiamschulz.github.io%2Fbasics%2F"
    >
        LinkedIn
    </a>
    <a 
        hidden
        data-component="shareLinks"
        data-share-links-title="Basic Components"
        data-share-links-text="Some basic components that I use from time to time. Also a bit of JS framework around them."
        data-share-links-url="https://iamschulz.github.io/basics/"
        class="share-links__link" 
        href="#"
    >
        More Options
    </a>
</nav>