<article data-component="devPostTeaser" data-dev-post-teaser-id="210569" class="dev-post-teaser">
    ${require('../loader/loader.html')}
    <a data-dev-post-teaser-el="link" class="dev-post-teaser__link">
        <h1 data-dev-post-teaser-el="title" class="dev-post-teaser__title">No post specified</h1>
    </a>
    <span class="dev-post-teaser__reactions">
        ❤️ <span data-dev-post-teaser-el="reactions"></span>
    </span>
    <span class="dev-post-teaser__comments">
        💬 <span data-dev-post-teaser-el="comments"></span>
    </span>
</article>

<article data-component="devPostTeaser" data-dev-post-teaser-id="1" class="dev-post-teaser">
    ${require('../loader/loader.html')}
    <a data-dev-post-teaser-el="link" class="dev-post-teaser__link">
        <h1 data-dev-post-teaser-el="title" class="dev-post-teaser__title">No post specified</h1>
    </a>
    <span class="dev-post-teaser__reactions">
        ❤️ <span data-dev-post-teaser-el="reactions">0</span>
    </span>
    <span class="dev-post-teaser__comments">
        💬 <span data-dev-post-teaser-el="comments">0</span>
    </span>
</article>

<article data-component="devPostTeaser" data-dev-post-teaser-id="219451" class="dev-post-teaser">
    ${require('../loader/loader.html')}
    <a data-dev-post-teaser-el="link" class="dev-post-teaser__link">
        <h1 data-dev-post-teaser-el="title" class="dev-post-teaser__title">No post specified</h1>
    </a>
    <span class="dev-post-teaser__reactions">
        ❤️ <span data-dev-post-teaser-el="reactions">0</span>
    </span>
    <span class="dev-post-teaser__comments">
        💬 <span data-dev-post-teaser-el="comments">0</span>
    </span>
</article>