<article data-component="devPostTeaser" data-dev-post-teaser-id="132099" class="dev-post-teaser">
    ${require('../loader/loader.html')}
    <h1 class="dev-post-teaser__title">
        <a data-dev-post-teaser-el="link" class="dev-post-teaser__link">
            <span data-dev-post-teaser-el="title">No post specified</span>
        </a>
    </h1>
    <span class="dev-post-teaser__reactions">
        ❤️ <span data-dev-post-teaser-el="reactions"></span>
    </span>
    <span class="dev-post-teaser__comments">
        💬 <span data-dev-post-teaser-el="comments"></span>
    </span>
</article>