<link rel="stylesheet" href="./css/modal.css" />
<div data-component="modal" class="modal" aria-hidden="true" role="dialog">
    <section class="modal__inner">
        <button class="modal__close" data-modal-el="closeButton" title="Close">
            <span class="is-visually-hidden">Close</span>
        </button>
        <h2 class="modal__headline">Modal Test</h2>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </section>
</div>