.header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: var(--spacing-y) var(--spacing-x);
    background-color: var(--background-inverted);
    color: var(--font-inverted);
    z-index: var(--z-header);

    &__title {
        margin: 0;
        padding: 0;
    }

    &__menu-button {
        flex: 0 0 calc(7ch + var(--menuButtonSize));
        display: flex;
        align-items: center;
        margin-left: calc(2 * var(--spacing-x));
        font-size: 1em;
        appearance: none;
        border: none;
        background: none;
        color: inherit;
        cursor: pointer;
    }

    &__menu-icon {
        margin-right: var(--spacing-x);

        *:hover > & {
            color: var(--accent);
        }
    }
}

@media screen and (min-width: $lg-width) {
    .header {
        position: relative;
        display: block;
        padding: 0;

        &__title {
            max-width: var(--content-width);
            margin: auto;
            padding: var(--spacing-y) var(--spacing-x) 0;
        }
        
        &__menu-button {
            display: none;
        }
    }
}