<div class="carousel" data-component="carousel" tabindex="0">
    <link rel="stylesheet" href="./css/carousel.css" />
    <div class="carousel__grid" data-carousel-el="grid">
        <img class="carousel__item" src="https://picsum.photos/300/200?random=1" width="300" height="200" alt="placeholder image" loading="Lazy">
        <div class="carousel__item" style="min-width: 200px;">Wild slidey boi!<br><a href="/">With a Link!</a></div>
        <img class="carousel__item" src="https://picsum.photos/400/200?random=2" width="400" height="200" alt="placeholder image" loading="Lazy">
        <img class="carousel__item" src="https://picsum.photos/300/300?random=3" width="300" height="300" alt="placeholder image" loading="Lazy">
        <img class="carousel__item" src="https://picsum.photos/300/200?random=4" width="300" height="200" alt="placeholder image" loading="Lazy">
        <img class="carousel__item" src="https://picsum.photos/300/200?random=5" width="300" height="200" alt="placeholder image" loading="Lazy">
    </div>
</div>
