<!DOCTYPE html>
<html lang="en">
<head>
    <title>Some Basic Components</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="some basic components">
</head>

<body>
    ${require('../viewportManager/viewportManager.html')}
    ${require('../overlay/overlay.html')}
    ${require('../header/header.html')}
    ${require('../mainMenu/mainMenu.html')}
    <main>
        ${require('../devPostTeaser/devPostTeaser.html')}
        ${require('../heavyCalculation/heavyCalculation.html')}
    </main>
</body>
</html>