:root {
    --contrast: 90%; // 100 = full, 50 = none, 0 = inverted
    --background-opacity: 1;
    --font-opacity: 1;
    --accentHue: 330;

    --background: hsla(0, 0%, var(--contrast), var(--background-opacity));
    --background-inverted: hsla(0, 0%, calc(100% - var(--contrast)), var(--background-opacity));
    --font: hsla(0, 0%, calc(100% - var(--contrast)), var(--font-opacity));
    --font-inverted: hsla(0, 0%, var(--contrast), var(--font-opacity));
    --accent: hsla(var(--accentHue), 100%, 50%, 1);
    --bg-grey: hsla(0, 0%, calc(50% + ((50% - var(--contrast) * 0.3))), var(--font-opacity));

    --spacing-x: 1rem;
    --spacing-y: 1rem;
    --content-width:  #{$lg-width};
    --line-width: .2rem;

    --z-overlay: 100;
    --z-header: 90;
    --z-menu: 110;
    --z-below: -1;
}

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--font);

    &[data-state-scrolling="disabled"] {
        overflow: hidden;
    }
}

body[data-state-color-scheme="dark"] {
    @include darkMode();
}

@media (prefers-color-scheme: dark) {
    body:not([data-state-color-scheme="light"]) {
        @include darkMode();
    }
}

a {
    color: inherit;
    text-decoration-thickness: 0.11em;

    &:hover {
        text-decoration-color: var(--accent);
    }
}

h1:first-of-type {
    margin-top: 0;
}

main { 
    max-width: var(--content-width);
    margin: auto;
    padding: 0 var(--spacing-x) var(--spacing-y);

    > * {
        padding: calc(2 * var(--spacing-y)) 0;
    }

    > * + * {
        margin-top: 0;
        padding: calc(2 * var(--spacing-y)) 0;
        border-top: var(--line-width) dashed var(--bg-grey);

        &:last-child {
            padding-bottom: calc(2 * var(--spacing-y));
        }
    }
}